a:link { text-decoration: none; }
a:visited { text-decoration: none; }

h1:link { text-decoration: none; }
h1:visited { text-decoration: none; }

body {
  background-color: #4B5B71;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 18px;
}

.navbar {
  display: flex;
  padding: 10px 3px 10px 3px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 25px;
  gap: 1em;
  background-color: #3E90F9;
}

.navbar-box {
  padding: 5px 20px 5px 20px;
  font-family: Georgia, 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color: #4B5B71;
  border: 3px 3px 3px 3px;
  text-align: center;
  background-color: #3E90F9;
  color: white !important;
  transition: background 350ms ease;
}

.navbar-box:hover {
  text-align: center;
  background-color: white;
  border-color: #4B5B71;
  color: #4B5B71 !important;
}

.main-body {
  background-color: white;
  margin: 5vh 5vw 5vh 5vw;
  padding: 10px 20px 10px 20px;
  min-height: 600px;
}

.article {
  margin: 4vh 1vw 5vh 1vw;
  padding: 3vh 3vw 2vh 3vw;
  background-color: #E7E7E7;
  min-height: auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.button-box {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: #FF816D;
  padding: 4px 4px 4px 4px;
  margin: 0 10px 0 10px;
  color: white !important;
  transition: background 350ms ease;
}

.date-box {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: silver;
  padding: 4px 4px 4px 4px;
  color: white !important;
  transition: background 350ms ease;
}

.button-box:hover {
  text-align: center;
  background-color: #D6280D;
  color: white !important;
}

.header-box {
  text-align: center;
  border-style: groove;
  border-width: 6px;
}

.blog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.thumbnail-image {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}

/* Footer */
.footer-content {
  background-color: silver;
  text-align: center;
  font-family: Noto Sans JP, monospace;
  padding: 3vh 2vh 5vh 2vh;
}
.footer-links {
  margin: 0 1vw 0 1vw;
  color: black;
  font-family: Noto Sans JP, monospace;
}
